.modal-view{
    display: none; 
	position: fixed; 
	padding-top: 100px;	
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	background-color: rgba(0,0,0,0.3);
}

.modal-view .model-content{
    background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid lightgray;
	width: 30%;
	transition: 2s;
	border: 1px solid #0abde3;
	border-radius: 10px;
	display: grid;
	grid-template-columns:repeat(1, 1fr);
	text-align: center;
	grid-gap: 4px;
}

.modal-view .close-model {
    cursor: pointer;
	text-align: right;
}

.modal-view .close-model:hover {
    font-weight: bold;
}


